@font-face {
    font-family: '';
    src: url('../../fonts/');
    src: url('../../fonts/') format('embedded-opentype'),
         url('../../fonts/') format('woff'),
         url('../../fonts/') format('truetype'),
         url('../../fonts/') format('svg');
    font-weight: normal;
    font-style: normal;
}
