@import "compass/css3";
@import "compass/utilities";
@import "compass/layout";


//===== VARIABLES =====
//colors
$dark-bn: #492f17;
$light-bn: #633f1d;
$green: #c8d2ad;
$off-black: #140E06;
$purple: #CD98FF;

//dimensions
$main-w: 960px;



//===== MIXINS =====


//===== COMPASS INCLUDES =====
//Sticky Footer
// @include sticky-footer(5px, "#container", "#container_footer", "#footer");